<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<div class="header">

</div>
<div class="all-page">
<div class="myprofile">
    <div class="mypage">
        <div class="use-profile">
            <div class="detail">
                <div class="photo">
                    <img src="/peaple.png">
                </div>
                <div class="label">
                    <div class="username">
                        <h1>username</h1>
                    </div>
                    <div class="job">
                        小学校教員
                    </div>
                    <div class="profile" title="23456789023456789234567892345678" style="">私は小学校の教員です。日々授業でどのようにすれば子供たちが楽しく、そして真剣に受けてくれるかを考えています。</div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<div class="grei">
<div class="like-page">
    <div class="midashi">
        <h3>Articles you liked</h3>
    </div>
    <article class="cardtype__article">
        <a class="cardtype__link" href="詳細へのリンク">
            <p class="cardtype__img">
                <img src="/test_article.jpg" alt="test1">
            </p>
            <div class="cardtype__article-info">
                <time class="pubdate entry-time dfont" itemprop="datePublished" datetime="2020-01-09">投稿日</time>        
                <h2>記事タイトル</h2>        
            </div>
        </a>
        <a class="dfont cat-name catid1" href="カテゴリーページリンク">カテゴリー名</a> 
    </article>
    <article class="cardtype__article">
        <a class="cardtype__link" href="詳細へのリンク">
            <p class="cardtype__img">
                <img src="/test_article.jpg" alt="test1">
            </p>
            <div class="cardtype__article-info">
                <time class="pubdate entry-time dfont" itemprop="datePublished" datetime="2020-01-09">投稿日</time>        
                <h2>記事タイトル</h2>        
            </div>
        </a>
        <a class="dfont cat-name catid1" href="カテゴリーページリンク">カテゴリー名</a> 
    </article>
</div>
</div>

<div class="white-square">
    <div class="white-squarebox">
        <h3>指導案保存</h3>
    </div>
    <div class="shidouanbox">
    <a href="詳細リンク" class="cardype_link">
        <div class="shidouan">
            <img src="/space.jpg">
            <div class="shidouansyousai">
                <h6>理科</h6>
            </div>
        </div>
    </a>
    </div>
    <div class="shidouanbox">
    <a href="詳細リンク" class="cardype_link">
        <div class="shidouan">
            <img src="/space.jpg">
            <div class="shidouansyousai">
                <h6>理科</h6>
            </div>
        </div>
    </a>
    </div>
    <div class="shidouanbox">
    <a href="詳細リンク" class="cardype_link">
        <div class="shidouan">
            <img src="/space.jpg">
            <div class="shidouansyousai">
                <h6>理科</h6>
            </div>
        </div>
    </a>
    </div>
</div>