<div class="index-area">

    <div class="content_article">
        <main id="main" class="m-all t-2of3 d-5of7 cf">
            <li class="cardtype__article">
            <a class="cardtype__link" href="詳細へのリンク">
                <p class="cardtype__img"><img src="/test_article.jpg" alt="test1"></p>
                <div class="cardtype__article-info">
                <time class="pubdate entry-time dfont" itemprop="datePublished" datetime="2020-01-09">投稿日</time>        
                <h2>記事タイトル</h2>
                </div>
            </a>
            <a class="dfont cat-name catid1" href="カテゴリーページリンク">カテゴリー名</a> </li>
            <li class="cardtype__article">
            <a class="cardtype__link" href="詳細へのリンク">
                <p class="cardtype__img"><img src="/test_article.jpg" alt="test1"></p>
                <div class="cardtype__article-info">
                <time class="pubdate entry-time dfont" itemprop="datePublished" datetime="2020-01-09">投稿日</time>        
                <h2>記事タイトル</h2>
                </div>
            </a>
            <a class="dfont cat-name catid1" href="カテゴリーページリンク">カテゴリー名</a> </li>
            <li class="cardtype__article">
            <a class="cardtype__link" href="詳細へのリンク">
                <p class="cardtype__img"><img src="/test_article.jpg" alt="test1"></p>
                <div class="cardtype__article-info">
                <time class="pubdate entry-time dfont" itemprop="datePublished" datetime="2020-01-09">投稿日</time>        
                <h2>記事タイトル</h2>
                </div>
            </a>
            <a class="dfont cat-name catid1" href="カテゴリーページリンク">カテゴリー名</a> </li>
            <li class="cardtype__article">
            <a class="cardtype__link" href="詳細へのリンク">
                <p class="cardtype__img"><img src="/test_article.jpg" alt="test1"></p>
                <div class="cardtype__article-info">
                <time class="pubdate entry-time dfont" itemprop="datePublished" datetime="2020-01-09">投稿日</time>        
                <h2>記事タイトル</h2>
                </div>
            </a>
            <a class="dfont cat-name catid1" href="カテゴリーページリンク">カテゴリー名</a> </li>
            <li class="cardtype__article">
            <a class="cardtype__link" href="詳細へのリンク">
                <p class="cardtype__img"><img src="/test_article.jpg" alt="test1"></p>
                <div class="cardtype__article-info">
                <time class="pubdate entry-time dfont" itemprop="datePublished" datetime="2020-01-09">投稿日</time>        
                <h2>記事タイトル</h2>
                </div>
            </a>
            <a class="dfont cat-name catid1" href="カテゴリーページリンク">カテゴリー名</a> </li>
            <li class="cardtype__article">
            <a class="cardtype__link" href="詳細へのリンク">
                <p class="cardtype__img"><img src="/test_article.jpg" alt="test1"></p>
                <div class="cardtype__article-info">
                <time class="pubdate entry-time dfont" itemprop="datePublished" datetime="2020-01-09">投稿日</time>        
                <h2>記事タイトル</h2>
                </div>
            </a>
            <a class="dfont cat-name catid1" href="カテゴリーページリンク">カテゴリー名</a> </li>
            <li class="cardtype__article">
            <a class="cardtype__link" href="詳細へのリンク">
                <p class="cardtype__img"><img src="/test_article.jpg" alt="test1"></p>
                <div class="cardtype__article-info">
                <time class="pubdate entry-time dfont" itemprop="datePublished" datetime="2020-01-09">投稿日</time>        
                <h2>記事タイトル</h2>
                </div>
            </a>
            <a class="dfont cat-name catid1" href="カテゴリーページリンク">カテゴリー名</a></li>
            <li class="cardtype__article">
            <a class="cardtype__link" href="詳細へのリンク">
                <p class="cardtype__img"><img src="/test_article.jpg" alt="test1"></p>
                <div class="cardtype__article-info">
                <time class="pubdate entry-time dfont" itemprop="datePublished" datetime="2020-01-09">投稿日</time>        
                <h2>記事タイトル</h2>
                </div>
            </a>
            <a class="dfont cat-name catid1" href="カテゴリーページリンク">カテゴリー名</a> </li>
            <li class="cardtype__article">
            <a class="cardtype__link" href="詳細へのリンク">
                <p class="cardtype__img"><img src="/test_article.jpg" alt="test1"></p>
                <div class="cardtype__article-info">
                <time class="pubdate entry-time dfont" itemprop="datePublished" datetime="2020-01-09">投稿日</time>        
                <h2>記事タイトル</h2>
                </div>
            </a>
            <a class="dfont cat-name catid1" href="カテゴリーページリンク">カテゴリー名</a> </li>
            <li class="cardtype__article">
            <a class="cardtype__link" href="詳細へのリンク">
                <p class="cardtype__img"><img src="/test_article.jpg" alt="test1"></p>
                <div class="cardtype__article-info">
                <time class="pubdate entry-time dfont" itemprop="datePublished" datetime="2020-01-09">投稿日</time>        
                <h2>記事タイトル</h2>
                </div>
            </a>
            <a class="dfont cat-name catid1" href="カテゴリーページリンク">カテゴリー名</a> </li>
        </main>
    </div>
	
</div>

