<div class="show-area">

    <div class="contents-area"> 

    <div> 
        <a class="need-alert news-image-link" href="#"> 
            <div class="news-image">
                <img src="/space.jpg">
                <div class="pick-count big black"> </div>
                <div class="picks-cover"></div>
                <div class="labels">
                    <span class="value">100</span>
                    <span class="unit">Likes</span>
                </div> 
            </div>
        </a> 
    </div>

    <div class="news">
        <div> <a class="title-link need-alert" href="#"> <h1 class="title bordered editor ">【小５　理科】流れる水の働き</h1> </a> </div>
        <div class="meta-blockclear"> <span class="caption">18時間前</span> </div> 
        <div> 
            <a class="read-more center" href="">続きを読む</a> 
        </div>   
    </div>

    <div class="pick-editor-tabs-container"></div>

    <div class="news-comment">

        <div class="comment-container"> 

            <img class="cover" src="/users/0/cover?width=100&amp;height=100&amp;circle=true">

            <textarea class="comment-now" name="commentValue" placeholder="コメントを書く（任意）"></textarea>  
                
        </div>

        <div class="social-buttons"> 

            <div class="description">シェアする</div> 

            <div class="sns twitter"> 
                <img class="share-normal" src="/images/social/twitter-grey.35f2449c.png" title="off"> 
                <img class="share-selected" src="/images/social/twitter-original.7b1ca390.png" title="post to twitter">
            </div> 

            <div class="sns facebook"> 
                <img class="share-normal" src="/images/social/facebook-grey.0970bc6e.png" title="off"> 
                <img class="share-selected" src="/images/social/facebook-original.d9a2f15c.png" title="post to facebook"> 
            </div> 

        </div>  

        <div class="like"> 
            <div alt="like-img" class="/test_article"></div>
        </div> 

        <hr>

        <div class="comments">  

            <div class="comments-container">  

                <div class="comment-row no-border" data-user="1125005" data-news="4766775" follow-user="false" data-comment-version="6" mute-disable="false">
                    
                    <a onclick="NP.showUserSummary(event)" data-user="1125005" href="/user/1125005?ref=news-summary_4766775">  
                        <div class="user-cover" style="background-image:url(/users/1125005/cover?width=100&amp;height=100&amp;circle=true&amp;t=20190901123042000);"></div> 
                    </a> 

                    <div class="user-profile2"> 
                        <a onclick="NP.showUserSummary(event)" data-user="1125005" href="/user/1125005?ref=news-summary_4766775"> 
                            <div class="name-wrapper"> 
                                <img class="cover" src="/users/0/cover?width=100&amp;height=100&amp;circle=true">
                                <div class="name">コメント投稿者名</div>       
                            </div> 
                        </a> 

                        <div class="job">東京学芸大学　環境教育選修</div> 
                        <div class="picktime">2020年4月3日</div>  
                        <div class="drop-down-button">…</div> 
                    </div>  
                         

                    <div class="comment-wrapper"> 
                        <div class="comment-other">理科について書いてあります。子供たちが楽しめるような工夫がいたるところに施してあり、実際の授業を見てみたいと思いました。</div>
                        <div class="like-panel"> 
                            <div class="like-wrapper"> 
                                <div class="like" onclick="NP.like(this)" data-user="1125005" data-liked="false" data-news="4766775"> 
                                    <img class="thumb-up-r" src="/images/like-r.ec360fd4.png"> 
                                    <img class="thumb-up-g" src="/images/like-g.bad78a75.png"> 
                                    <div class="count">189</div>  
                                    <div class="like-label">Likes</div>
                                </div> 
                            </div>
                        </div> 
                    </div> 

                    <div class="embedded-pick-editor" style="display:none"></div> 
                </div>
            </div>

            <hr>

            <div class="comments-container">  

                <div class="comment-row no-border" data-user="1125005" data-news="4766775" follow-user="false" data-comment-version="6" mute-disable="false">
                    
                    <a onclick="NP.showUserSummary(event)" data-user="1125005" href="/user/1125005?ref=news-summary_4766775">  
                        <div class="user-cover" style="background-image:url(/users/1125005/cover?width=100&amp;height=100&amp;circle=true&amp;t=20190901123042000);"></div> 
                    </a> 

                    <div class="user-profile2"> 
                        <a onclick="NP.showUserSummary(event)" data-user="1125005" href="/user/1125005?ref=news-summary_4766775"> 
                            <div class="name-wrapper"> 
                                <img class="cover" src="/users/0/cover?width=100&amp;height=100&amp;circle=true">
                                <div class="name">コメント投稿者名</div>       
                            </div> 
                        </a> 

                        <div class="job">東京学芸大学　環境教育選修</div> 
                        <div class="picktime">2020年4月3日</div>  
                        <div class="drop-down-button">…</div> 
                    </div>  
                         

                    <div class="comment-wrapper"> 
                        <div class="comment-other">理科について書いてあります。子供たちが楽しめるような工夫がいたるところに施してあり、実際の授業を見てみたいと思いました。</div>
                        <div class="like-panel"> 
                            <div class="like-wrapper"> 
                                <div class="like" onclick="NP.like(this)" data-user="1125005" data-liked="false" data-news="4766775"> 
                                    <img class="thumb-up-r" src="/images/like-r.ec360fd4.png"> 
                                    <img class="thumb-up-g" src="/images/like-g.bad78a75.png"> 
                                    <div class="count">189</div>  
                                    <div class="like-label">Likes</div>
                                </div> 
                            </div>
                        </div> 
                    </div> 

                    <div class="embedded-pick-editor" style="display:none"></div> 
                
                
                </div>
            </div>
        </div> 
    </div>
    </div>
    <div class="right-container"> 

        <div class="news-outline">  
            <div class="related-user-section-title">この指導案の著者/編集者</div>
            <div class="related-users"> 
                <div class="authors">  
                    <div class="related-user-tile no-profile">
                        <a class="related-user" href="/user/301665?ref=news-summary_4766775"> 
                            <img class="cover" src="/users/301665/cover?width=80&amp;height=80&amp;circle=true"> 
                            <div class="username-container"> 
                                <span class="username">原子</span>  
                                <!--<div class="follow-btn follow" data-user="301665" data-from="news-outline" onclick="NP.follow(event)"> 
                                    <img class="follow" src="/images/follow-button-off.48d7f47e.png"> 
                                    <img class="following" src="/images/follow-button-on.6f2ba81f.png"> 
                                    <div class="follow-btn-mask hide"> 
                                        <div class="filter"></div> 
                                        <img src="/images/loading.e1ce83e8.gif"> 
                                    </div> 
                                </div>-->
                            </div> 
                        </a> 
                    </div>  
                </div> 
            </div> 
        </div>

        <div class="side-news-wrapper"> 

            <div class="side-news-section-title">似ている指導案一覧</div> 
                <hr>
                <a class="side-news" href="/news/4766791?block=side-news-series"> 
                    <div class="side-news-image" src="/space.jpeg"></div> 
                    <div class="side-news-body"> 
                        <div class="side-news-title _ellipsised" style="overflow: initial;">【小５　理科】空気</div>     
                    </div> 
                </a>
                <span class="caption">原子</span>
                <span class="caption">20時間前</span> 
                <hr> 
                <a class="side-news" href="/news/4785569?block=side-news-series"> 
                    <div class="side-news-image" src="/space.jpeg"></div>
                    <div class="side-news-body"> 
                        <div class="side-news-title _ellipsised" style="overflow: initial;">【小６　理科】宇宙</div>    
                    </div> 
                </a>  
                <span class="caption">原子</span> 
                <span class="caption">2020年04月03日</span>
                <hr> 
            </div>  
        </div>
    </div>
</div>        

